body {
  margin: 0;
}

#canvas {
  width: 100%;
  border-bottom: 5px dashed black;
}

.before-start {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#form {
  text-align: center;
}

.input-name {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
}

.btn-submit {
  width: 100px;
  height: 50px;
  background: green;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}
